[Unit]
Description=MongoDB Service
After=docker.service

[Service]
TimeoutStartSec=10
TimeoutStopSec=10
ExecStartPre=-/usr/bin/docker kill mongodb
ExecStartPre=-/usr/bin/docker rm mongodb
ExecStartPre=/usr/bin/docker pull hairmare/mongodb:latest
ExecStartPre=-/usr/bin/docker run --name 'mongodb-data' hairmare/mongodb echo "Creating data volumes"
ExecStart=/usr/bin/docker run --name 'mongodb' --volumes-from mongodb-data hairmare/mongodb
ExecStop=/usr/bin/docker stop mongodb
