[Unit]
Description=Online GLSA Check API Service
After=mongodb.service

[Service]
TimeoutStartSec=10
ExecStartPre=-/usr/bin/docker kill ogc-api
ExecStartPre=-/usr/bin/docker rm ogc-api
ExecStart=/usr/bin/docker run --name ogc-api --link mongodb:mongodb hairmare/ogc-api serve
ExecStop=/usr/bin/docker stop ogc-api

[X-Fleet]
MachineMetadata=ogc=admin
Conflicts=ogc-api@%i.service
