[Unit]
Description=Online GLSA Check Worker Service
After=nested-docker.service

[Service]
TimeoutStartSec=10
ExecStartPre=-/usr/bin/docker kill ogc-worker
ExecStartPre=-/usr/bin/docker rm ogc-worker
ExecStart=/usr/bin/docker run --name ogc-worker --link ogc-api:api --link ogc-api:zmq --link docker:docker hairmare/ogc-worker work all
ExecStop=/usr/bin/docker stop ogc-worker

[X-Fleet]
MachineOf=nested-docker.service
Conflicts=ogc-worker@%i.service
