[Unit]
Description=OGC Storage Rsync Service

[Service]
TimeoutStartSec=5
TimeoutStopSec=5
ExecStartPre=-/usr/bin/docker kill ogc-storage
ExecStartPre=-/usr/bin/docker rm ogc-storage
ExecStartPre=/usr/bin/docker pull busybox:latest:latest
ExecStartPre=/usr/bin/docker pull hairmare/ogc-storage:latest
ExecStartPre=-/usr/bin/docker run --name 'ogc-storage-data' -v /var/lib/ogc/dist busybox echo "Creating data volumes"
ExecStart=/usr/bin/docker run \
          --name 'ogc-storage' \
          --volumes-from ogc-storage-data \
          hairmare/ogc-storage --daemon
ExecStop=/usr/bin/docker stop ogc-storage

[X-Fleet]
MachineOf=ogc-storage@%i.service
