[Unit]
Description=OGC Storage Web Server

[Service]
TimeoutStopSec=5
TimeoutStopSec=5
ExecStartPre=-/usr/bin/docker kill ogc-storage-web
ExecStartPre=-/usr/bin/docker rm ogc-storage-web
ExecStartPre=/usr/bin/docker pull hairmare/ogc-gui:latest
ExecStartPre=-/usr/bin/docker run --name 'ogc-storage-data' -v /var/lib/ogc/dist busybox echo "Creating data volumes"
ExecStart=/usr/bin/docker run \
          --name 'ogc-storage-web' \
          --volumes-from ogc-storage-data \
          -e 'GUI_DIR=/var/lib/ogc/dist' \
          hairmare/ogc-gui serve
ExecStop=/usr/bin/docker stop ogc-storage-web

[X-Fleet]
MachineOf=ogc-storage@%i.service
